<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
        <li>
            <h2>{{titulo}}</h2>
            <p>Categoria: {{categoria}}</p>
            <p>Precio: {{precio}}</p>
             <p>Stock: {{stock}}</p>
        </li>
    {{/each}}
</ul>