<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
        <li>
            <h2>{{titulo}}</h2>
            <p>Categoria: {{categoria}}</p>
            <p>Precio: {{precio}}</p>
             <p>Stock: {{stock}}</p>
        </li>
    {{/each}}
</ul>




<style>

h1 {
    font-size: 24px;
    color: #333;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

h2 {
    font-size: 20px;
    color: #007bff;
}

p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

</style>